@model IEnumerable<ThamQuanTDMU.Models.STUDY_ACTIVITY>

@{
    ViewBag.Title = "Quản lý NCKH";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>QUẢN LÝ HOẠT ĐỘNG NGHIÊN CỨU</h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemMoi")
</p>
<div class="table-responsive">
    <table class="table bangSP">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SA_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SA_Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SA_Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SA_Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SA_Video)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SA_Khoa)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td width="150">
                    @Html.DisplayFor(modelItem => item.SA_Title)
                </td>
                <td width="200">
                    @*@Html.Raw(@Html.DisplayFor(modelItem => item.SA_Content)).ToString()*@
                    @Html.Raw(HttpUtility.HtmlDecode(item.SA_Content))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SA_Year)
                </td>
                <td>
                    <img src="@Url.Content("../Content/assets/NCKH/img/"+item.SA_Image)" width="300" height="600">
                </td>
                <td>
                    @if (item.SA_Video == null)
                    {

                        @Html.DisplayFor(modelItem => item.SA_Video)

                    }
                    else if (item.SA_Video != null)
                    {

                        <video width="180" height="295" controls="controls">
                            <source src="../Content/assets/NCKH/video/@item.SA_Video" type="video/mp4" />
                            <source src="../Content/assets/NCKH/video/@item.SA_Video" type="video/webm" />
                        </video>

                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SA_Khoa)
                </td>
                <td>
                    <a href="@Url.Action("ChinhSua","QuanLyNghienCuuKhoaHoc",new { @maDT = item.SA_Id })" class="btn btn-success" role="button">Chỉnh sửa</a>
                    <a href="@Url.Action("Xoa", "QuanLyNghienCuuKhoaHoc", new { @maDT = item.SA_Id })" class="btn btn-danger" role="button">Xóa</a>
                </td>
            </tr>
        }

    </table>
</div>
<script>
    $(document).ready(function () {
        if (window.chrome) {
            $("[type=video\\\/mp4]").each(function () {
                $(this).attr('src', $(this).attr('src').replace(".mp4", "_c.mp4"));
            });
        }
    })
</script>