@{
    ViewBag.Title = "Quản lý menu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<ThamQuanTDMU.Models.MENU>

<h2>QUẢN LÝ MENU</h2>
<p class="chucnang">
    @Html.ActionLink("Thêm mới menu", "ThemMoi")
</p>
<div class="table-responsive">
    <table class="table bangSP">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Menu_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Menu_Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Menu_Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Menu_color)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu_Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu_Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Menu_color)
                </td>
                <td>
                    <a href="@Url.Action("ChinhSua","QuanLyMenu",new { @maMN = item.Menu_Id })" class="btn btn-success" role="button">Chỉnh sửa</a>
                    <a href="@Url.Action("Xoa","QuanLyMenu",new { @maMN = item.Menu_Id })" class="btn btn-danger" role="button">Xóa</a>   
                </td>
            </tr>
        }

    </table>
</div>
@*@if (Model.PageCount > 1)
    {
        <div class="phantrang">
            @Html.PagedListPager(Model, page => Url.Action("Index", "QuanLySanPham", new { page = page }))
        </div>
    }*@
<style>
    /*div.phantrang {
        text-align: center;
        float: left;
        margin-left: 39%;
        margin-right: 39%;
    }

        div.phantrang ul li {
            display: inline;
            font-size: 17px;
            font-weight: bold;
            padding: 10px;
        }

            div.phantrang ul li:not(.active):hover {
                background-color: #fbe4e4;
            }

    li.active {
        background-color: pink;
    }*/

    button a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

        button a:hover {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
</style>





