@model ThamQuanTDMU.Models.MENU

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    dt, dd {
        margin-bottom: 10px;
        color: black;
    }

    dt {
        color: #080515;
        font-weight: normal;
        color: #03052c;
    }
</style>

<h2>XOÁ DANH MỤC</h2>
<h3>Bạn có thật sự muốn xoá danh mục này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.Menu_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu_Id)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.Menu_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu_Name)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.Menu_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu_color)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.Menu_Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu_Link)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.Menu_Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu_Active)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.Menu_Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu_Note)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.Menu_Paths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu_Paths)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
