@model ThamQuanTDMU.Models.MENU_CONTENT

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    dt, dd {
        margin-bottom: 10px;
        color: black;
    }

    dt {
        color: #080515;
        font-weight: normal;
        color: #03052c;
    }
</style>
<h2>XÓA BÀI ĐĂNG</h2>

<h3>Bạn có chắc chắn muốn xóa bài đăng này?</h3>
<div>
    <h4>Thông tin bài đăng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.MC_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Title)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.MC_Images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Images)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.MC_Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Position)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.MC_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Description)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.MC_Sources)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Sources)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.MC_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Content)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.MC_Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Note)
        </dd>

        <dt style ="text-align: left">
            @Html.DisplayNameFor(model => model.MC_Paths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Paths)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.DEPARTMENT.Department_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMENT.Department_Name)
        </dd>

        <dt style="text-align: left">
            @Html.DisplayNameFor(model => model.MENU.Menu_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MENU.Menu_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
