
@{
    ViewBag.Title = Model.Img_Title;
    Layout = "~/Views/Shared/_ThamQuanLayout.cshtml";
}

<!-- Panorama-->
<style>

</style>
<div id="panorama">
    <!--Menu List-->
    @Html.Action("_MenuPartial","ThamQuan")

    <!--Hướng dẫn-->

    @Html.Partial("_HuongDanPartial")

    <!--Menu tiện ích-->
    @Html.Partial("_MenuTienIchPartial")
</div>
<script>
       viewer = pannellum.viewer('panorama', {
        "default": {
            "firstScene": "pan_@Model.area",
            "sceneFadeDuration": 1000,
            "autoRotate": 2,
            "autoLoad": true,
            "compass": false,
            "preview": "../Content/assets/img/tdmu_img/"+"@Model.Img_Src",
            "showControls": false,
            "autoRotateInactivityDelay": 1000
        },

        "scenes": {
            @Html.Partial("_PanoramaPartial")
        }
    });
</script>

